body{background-color: #edeff5;}
iframe{border:0 none;}
html,body{width: 100%;height: 100%;background-color: #edeff5;}
.header{
	width: 100%;
	height: 100%;
	height: 47px;
	min-width: 1200px;
}
.head{
	width: 100%;
	min-width: 1200px;
	background-color:#fff;
}
.head .logo{
	width: 17%;
	min-width: 203px;
	height: auto;
	margin: 4px 4px 15px 4px;
}
.head .list{
	width: 80%;
	min-width: 960px;
	padding-left: 2%;
}
.head .list li{
	float: left;
	width: 13%;
	font-size: 1.6rem;
	padding-top: 1.6%;
	padding-bottom: 17px;
}
.head .list li a{
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 18px;
	line-height: 18px;
	border-right:1px solid #e5e5e5;
}
.head .list li a.active{color:#147ec9;}
.head .list li:first-of-type a{border-left:1px solid #e5e5e5;}



.main{width: 100%;position: relative;top:4px;}
.main .main_left{
	width: 15%;
	min-width: 180px;
	height: 100%;
	min-height: 906px;
	background-color: #22252b;
	position: absolute;
	left: 0;
}
.main .main_right{
	width: 85%;
	margin-left: 16%;
	min-width: 1000px;
	height: 100%;
	min-height: 906px;
}
@media only screen and (max-width: 1200px) {
	.main .main_right{margin-left: 190px;}
}
.main_left .person img{
	width: 48%;
	height: 48%;
	min-width: 87px;
	min-height: 87px;
	border-radius: 100%;
	overflow: hidden;
	margin:10% 24% 5% 24%;
}
.main_left .name{
	color:#5093e1;
	font-size: 1.6rem;
	text-align: center;
}
.main_left .teacher{
	color:#fff;
	font-size: 1.2rem;
	text-align: center;
	margin-bottom: 12px;
}
.main_left .teacher span{
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px  5px 0 5px;
	border-color: #fff transparent transparent transparent; 
}
.main_left_ztree{width: 100%;}
