iframe{border:0 none;}
html,body{width: 100%;min-width: 1200px;height: 100%;background-color: #edeff5;}
.header{
	height: 47px;
	overflow: hidden;
}
.main .main_left{
	width: 15%;
	background-color: #22252b;
}
.main .main_right{
	width: 85%
}
.main_left .person img{
	width: 48%;
	height: 48%;
	min-width: 87px;
	min-height: 87px;
	border-radius: 100%;
	overflow: hidden;
	margin:10% 24% 5% 24%;
}
.main_left .name{
	color:#5093e1;
	font-size: 1.6rem;
	text-align: center;
}
.main_left .teacher{
	color:#fff;
	font-size: 1.2rem;
	text-align: center;
	margin-bottom: 12px;
}
.main_left .teacher span{
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px  5px 0 5px;
	border-color: #fff transparent transparent transparent; 
}
.main_left_ztree{width: 100%;}
