body {
    font-family: "Î¢ÈíÑÅºÚ", Arial, sans-serif;
    position: relative;
}
.navcenter {
    width: 100%;
    margin: 0 auto;
    background: #FFF;
    overflow: hidden;
    padding: 0 0 30px 0;
}
.navcenter .navcenter-biaoti {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #CBCBCB;
}
.navcenter .navcenter-biaoti span {
    float: left;
    font-size: 16px;
    color: #333333;
    line-height: 50px;
    cursor: pointer;
}
.navcenter .navcenter-biaoti span.fanhui {
    float: right;
    color: #137DC9;
    width: 62px;
    text-align: center;
    background: url("../img/return-bg.png") no-repeat center left;
}
.navcenter .navcenter-biaoti span.fanhui a {
    color: #137DC9;
}
.navcenter .curriculum .about {
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.navcenter .curriculum .about input {
    width: 108px;
    height: 34px;
    background: #4DA7E5;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
}
.navcenter .curriculum .about input.nextweek {
    float: right;
    margin-top: 9px;
}
.navcenter .curriculum .formbiaoge {
    width: 100%;
}
/*Ñ¡ÔñÊ±¼ä*/
.navcenter .time {
    height: 50px;
}
.time {
    padding-top: 35px;
}
.time p {
    display: inline-block;
    position: relative;
}
.time input.datepicker {
    width: 170px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 20px;
    background: url("../img/magnifier.png") no-repeat center right;
}
.time input.submit {
    height: 32px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}
/*±í¸ñ*/
table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
}
.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}
.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
.bordered td input {
    width: 74px;
    height: 34px;
    border: 1px solid #4DA7E5;
    border-radius: 5px;
    color: #fff;
    text-align: right;
    padding-right: 14px;
    background:#4DA7E5 url("../img/yanjing.png") no-repeat 10px center;
    cursor: pointer;
}
.bordered td input.download {
    background:#4DA7E5 url("../img/download.png") no-repeat 10px center;
}
.bordered td.current {
    border: 1px solid #ea3232;
    color: #ea3232;
}
.bordered td.active {
    border: 1px solid #00fd1e;
    color: #00fd1e;
}
.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}
.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}
.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}
.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

/*----------------------*/

.zebra td, .zebra th {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;
}

.zebra tbody tr:nth-child(even) {
    background: #f5f5f5;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
}

.zebra th {
    text-align: left;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
    background-image: -moz-linear-gradient(top, #f5f5f5, #eee);
    background-image: -ms-linear-gradient(top, #f5f5f5, #eee);
    background-image: -o-linear-gradient(top, #f5f5f5, #eee);
    background-image: linear-gradient(top, #f5f5f5, #eee);
}

.zebra th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.zebra th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.zebra th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.zebra tfoot td {
    border-bottom: 0;
    border-top: 1px solid #fff;
    background-color: #f1f1f1;
}

.zebra tfoot td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.zebra tfoot td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.zebra tfoot td:only-child{
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px
border-radius: 0 0 6px 6px
}
/*µ¯´° ²é¿´*/
.examine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}
.examine-nav {
    width: 50%;
    margin: 110px auto 0;
    background: #fff;
    padding-bottom: 10px;
}
.examine-nav .cha {
    overflow: hidden;
}
.examine-nav .cha img {
    float: right;
    margin: 10px 10px 0 0;
    cursor: pointer;
}
.exanav-container {
    overflow: hidden;
    width: 94%;
    margin: 10px auto;
}
.exanav-left {
    width: 63%;
    float: left;
}
.exanav-left .exanav-vedio {
    width: 100%;
    height: 320px;
    border: 1px solid #ccc;
}
.exanav-left p {
    text-align: center;
    margin-top: 15px;
}
.exanav-right {
    float: right;
    width: 34%;
}
.exanav-right li {
    margin-bottom: 10px;
}
.exanav-right p span.reply {
    width: 45px;
    display: inline-block;
    float: right;
    color: #137DC9;
    background: url("../img/xiala.png") no-repeat 32px 7px;
    cursor: pointer;
}
.exanav-right p span.reply-nav {
    width: 120px;
    display: inline-flex;
}
.exanav-right p span.fullname {
    color: #137DC9;
    font-size: 15px;
}
.exanav-right form p {
    text-align: right;
}
.exanav-right form p {
    margin-top: 5px;
}
.exanav-right form p textarea {
    height: 60px;
    border-radius: 5px;
}
.exanav-right form p input[type="submit"] {
    width: 50px;
    height: 30px;
    color: #fff;
    background: #137DC9;
    border: none;
    outline: none;
    border-radius: 5px;
}
.exanav-right .seemore {
    overflow: hidden;
}
.exanav-right .seemore span {
    display: block;
    width: 75px;
    float: right;
    color: #137DC9;
    background: url("../img/xiala.png") no-repeat 62px 7px;
    cursor: pointer;
}
.exanav-right .seemore-text {
    margin-top: 10px;
}
.exanav-right .seemore-text textarea {
    width: 99%;
}
.viewreply {
    margin: 10px 0 0 42px;
    display: none;
}
.viewreply .aite {
    color: #C613C9;
}
/*µ¯´° ¿ÎÌÃ×´Ì¬*/
.roomstate {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
}
.roomstate-nav {
    width: 60%;
    background: #fff;
    margin: 110px auto;
    padding-bottom: 40px;
}
.roomstate-nav .cha-room {
    overflow: hidden;
}
.roomstate-nav .cha-room img {
    float: right;
    margin: 10px 10px 10px 0;
    cursor: pointer;
}
.roomstate-nav h3 {
    width: 168px;
    height: 35px;
    margin: 0 auto 5px;
    text-align: center;
    line-height: 35px;
    background: url("../img/room-bg.png") no-repeat center center;
}
.roomstate-nav h3 span {
    font-size: 16px;
}
.interaction {
    width: 100%;
    margin: 0 auto;
}
.interaction .interaction-p {
    line-height: 45px;
    font-size: 16px;
}
/*ÆÀ¼Û*/
.interaction .pingjia textarea {
    width: 95%;
    height: 130px;
    border-radius: 10px;
    outline: none;
    padding:20px 30px;
    margin: 0 auto;
}
.interaction .pingjia input {
    float: right;
    width: 68px;
    height: 34px;
    background: #4DA7E5;
    color: #fff;
    border-radius: 3px;
    border: none;
    outline: none;
    margin: 5px 10px 0 0;
    cursor: pointer;
}
.interaction .pingjia p {
    overflow: hidden;
}
.bordereds .zuoye {
    color: #4DA7E5;
}